<%= form_with model: note do |form| %>
  <div class="form-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-field">
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div class="form-buttons">
    <%= button_tag 'Show Markdown Preview', type: 'button', onclick: 'showMarkdown()' %>
    <%= form.submit %>
  </div>

  <div>
    <span>Markdown Preview</span>
    <div id="output_div" class="markdown"></div>
  </div>

  <script>
    function showMarkdown() {
      // Get the text content shown in the editor
      const input = document.getElementById('note_content').value;
      const output = document.getElementById('output_div');

      // Convert markdown to HTML
      output.innerHTML = marked.parse(input);
    }
  </script>
<% end %>
